doctype html
html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE-edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block title
            title 萝卜拍卖
        block css
            link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
            link(rel='stylesheet', href='/stylesheets/style.css')
    body
        nav(class='navbar navbar-inverse navbar-fixed-top')
            .container
                .navbar-header
                    a.navbar-brand(href='/') 萝卜拍卖
                block nav
        .container
            block content
        footer.footer
            .container
                p.text-muted &copy;2015
                    a(href='http://luoboloop.com') Luoboloop
                    |.
    block script
        script(src='http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js')
        script(src='http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js')