extends ../layout
block title
    title!=title
block nav
    div(class='navbar-collapse collapse')
        ul(class='nav navbar-nav pull-right')
            li.active
                a(href='/manage/products') 商品管理
            if user.type == 1
                li
                    a(href='/manage/users') 用户管理
            li
                a(href='/manage/user') 资料管理
            li
                a(href='/manage/logout') 注销