extends ../layout
block title
    title!=title
block nav
    div(class='navbar-collapse collapse')
        ul(class='nav navbar-nav pull-right')
            li
                a(href='/manage/products') 商品管理
            if user.type == 1
                li.active
                    a(href='/manage/users') 用户管理
            li
                a(href='/manage/user') 资料管理
            li
                a(href='/manage/logout') 注销
block content
    ol.breadcrumb
        li.active!=title
    .container
        .col-md-6(class='col-md-offset-2')
            form(class='form-form-inline', method='post', action='/manage/addUser', id='addUserForm')
                #userErr
                .form-group
                    .col-md-9
                        input(type='text', class='form-control', id='username', name='username', placeholder='用户名', required, autofocus )
                .form-group
                    .col-md-3
                        button(type='submit', class='btn btn-primary') 添加
    .container
        .col-md-6(class='col-md-offset-2')
            hr
            ul(class='list-group', id='users')
                each user in users
                    li.list-group-item
                        span(class='glyphicon glyphicon-user', aria-hidden='true')
                        | #{user.username}
                        a(class='pull-right', href='javascript:delUser("#{user.username}")')
                            span(class='glyphicon glyphicon-remove', aria-hidden='true')
                            | 删除
block append script
    script(src='/javascripts/jquery.form.min.js')
    script(type='text/javascript').
        $(document).ready(function () {
            $('#addUserForm').ajaxForm(function (responseJSON) {
                if (responseJSON.code == 'failed') {
                    $('#userErr').html(responseJSON.msg).addClass('alert alert-danger')
                } else if (responseJSON.code == 'success') {
                    $('#users').append('<li class="list-group-item">\
                    <span aria-hidden="true" class="glyphicon glyphicon-user"></span>'
                    + responseJSON.username +
                    '<a href="javascript:delUser(\'' + responseJSON.username + '\')" class="pull-right">\
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>删除</a></li>')
                    $('#userErr').empty()
                    $('#userErr').removeClass()
                }
            })
        });
        function delUser(username) {
            $.post('/manage/delUser', {username: username}, function (responseJSON) {
                if (responseJSON.code == 'failed') {
                    $('#userErr').html(responseJSON.msg).addClass('alert alert-danger')
                } else if (responseJSON.code == 'success') {
                    $('#users li:contains(' + username + ')').remove();
                    $('#userErr').empty()
                    $('#userErr').removeClass()
                }
            })
        }