extends ../layout
block title
    title!=title
block prepend header
    nav
        ul(class='nav nav-pills pull-right')
            li.active
                a(href='/manage/user') 资料管理
            li
                a(href='/manage/products') 商品管理
            li
                a(href='/manage/logout') 注销